/*
* @Author: simon
* @Date:   2018-03-17 10:19:00
* @Last Modified by:   simon
* @Last Modified time: 2018-03-22 20:22:44
*/
.nav-side{
    float: left;
    width: 145px;/*防止text右侧内容先加载出来占位*/
    height: 100px;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 15px;
}
.nav-side .nav-item .link{
    color:#888;
}
.nav-side .nav-item.active .link{
    color: #c60023;
}
.content.with-nav{
    float: left;
}