<!DOCTYPE html>
<html lang="en">
<head>
   <%=require('html-loader!./layout/head-common.html')%>
   <title><%=htmlWebpackPlugin.options.title%>- Damon电商平台</title>
</head>
<body> <!--  2.0.0+的JQueryIE8不兼容 -->
    <%=require('html-loader!./layout/nav.html')%>
    <%=require('html-loader!./layout/header.html')%>
    <div class="crumb">
        <div class="w">
            <div class="crumb-con">
                <a href="./index.html" class="link">MMALL</a>
                <span>></span>
                <span class="link-text"><%=htmlWebpackPlugin.options.title%></span>
            </div>
        </div>
    </div>
    <div class="page-wrap w">
       <%=require('html-loader!./layout/nav-side.html')%>
       <div class="content with-nav">
           <div class="panel">
               <div class="panel-title"><%=htmlWebpackPlugin.options.title%></div>
               <div class="panel-body">
                   <div class="userInfo">
                      <div class="form-line">
                         <label for="password">原密码</label>
                         <input type="password" id="password" class="form-input">
                      </div>
                      <div class="form-line">
                         <label for="newPassword">新密码</label>
                         <input type="password" id="newPassword" class="form-input">
                      </div>
                      <div class="form-line">
                         <label for="cfmPassword">确认密码</label>
                         <input type="password" id="cfmPassword" class="form-input">
                      </div>
                      <div class="form-line">
                         <span class="btn pass-reset-btn" id="pass-reset-btn">提交</span>
                      </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
    <%=require('html-loader!./layout/footer.html')%>
</body>
</html>